*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    background-color: #ffffff;
    color: #434455;
    margin: 0;
    padding: 0;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
            max-width: 768px;
            padding: 0 16px;
            margin: 0 auto;
        }
}

@media screen and (min-width:1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;   }
}

/* --------HEADER-------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.nav-list {
    display: none;
}

.contacts-list {

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.burger-button-header{
position:absolute;
border: none;
background-color: transparent;
top: 16px;
right: 16px;
padding: 0;
}
.burger-header-icon{
    fill:#2F2F37;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-item .active{
position: relative;
color:#404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .active::after{
content:"";
border-radius: 2px;
width: 100%;
height: 4px;
background-color: #404bbf;
display: block;
position:absolute;
bottom:-1px;
}

.contacts {
    display: none;
}

.contacts-link {
   
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

@media screen and (min-width:768px) {
.logo {
    padding: 24px 0;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
    display: flex;
 font-style: normal;
margin-left: auto;
}
.contacts-list {
display: flex;
flex-direction: column;
padding: 16px 0;
row-gap: 12px;
}
.contacts-item{

}
.contacts-link {
    display: block;
    padding: 0;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;

}





.burger-button-header{
display: none;
}
    
}

@media screen and (min-width:1158px) {
    .contacts-link {
            display: block;
            padding: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}


/* ---------END OF HEADER --------- */



/* -----------MAIN----------------- */

/* --------SECTION ONE-------------  */

.title {
padding: 72px 0;
background-color: #2e2f42;
background-image:linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/people-office-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
max-width: 100%;
margin: 0 auto;
}
.title-text {
    max-width: 216px;
    margin: 0 auto 72px auto;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.title-button {
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.title-button:hover,
.title-button:focus {
    background-color: #404bbf;

}
@media screen and (min-width:768px) {
.title{
    padding: 112px 0;
}
.title-text{
    margin: 0 auto 36px auto;
        font-size: 56px;
        line-height: 1.07143;
        text-align: center;
        color: #fff;
        max-width: 496px;
}
.title-button{
}

}

@media screen and (min-width:1158px) {
.title {
padding:188px 0;
}
.main-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.title-text{
 font-size: 56px;
 line-height: 1.07;
max-width: 496px;
margin: 0 auto 48px auto;
}
}
/* ---------SECTION TWO----------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-content {
    padding: 96px 0;
}

.main-list {
display:flex;
flex-direction: column;
gap: 72px;
}

.main-item {

}
.icon-box{
border: 1px solid #8e8f99;
border-radius:4px;
background-color: #f4f4fd;
height: 112px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom:8px;
display: none;
}
.main-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.main-content-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
@media screen and (min-width:768px) {
    .main-list {
flex-direction:row ;
flex-wrap: wrap;
gap: 24px;
 }
 .main-item{
    width: calc((100% - 24px) / 2);
 }
 .main-title{
    text-align: left;
 }
}


@media screen and (min-width:1158px) {
    
    .main-item {
            flex-basis: calc((100% - 3 * 24px) / 4);
            text-align: left;   }

    .main-content {
            padding: 120px 0;
        }

    .main-title {
        margin-bottom: 8px;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
}
.main-content-title {
    font-weight: 400;
}
}

/* -------SECTION THREE -------- */

.our-team {
    padding: 96px 0;
    background-color: #f4f4fd;
}

.team-title-first {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.team-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.social-item {
}
.social-list{
display:flex;
align-items: center;
justify-content: center;
gap: 24px;
padding-right: 16px;
padding-left: 16px;
}
.social-link {
display: flex;
justify-content: center;
width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}

.team-icon {
fill: #f4f4fd;
}

.container-workers {
    padding-top: 32px;
    padding-bottom: 32px;
}
@media screen and (min-width:768px) {
    .team-list {
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 64px;
            justify-content:center;
        }
    .team-item{
      
    }
}



@media screen and (min-width:1158px) {
    .team-list {
    display: flex;
    gap: 24px;   }

    .our-team {
     padding: 120px 0;
     background-color: #f4f4fd;}
}


/*  ------------SECTION-FOUR----------- */

.our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-list {
    display: flex;
flex-direction: column;
gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-banking-app{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;  
}
.container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-box{
position: relative;
overflow: hidden;
}
.overlay{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color:#4d5ae5;;
    padding: 40px 32px;
    transform:translateY(100%);
    z-index:999; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
transform:translateY(0);
}
.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor:pointer;
}
.portfolio-image{
    width: 100%;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2e2f42;
}

.portfolio-work {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-work-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width:768px) {
    .portfolio-list {
        display: flex;
            flex-direction: row;
            gap: 24px;
            flex-wrap: wrap;
            row-gap: 72px;
     }
     .portfolio-item{
        width: calc((100% - 24px) / 2);
     }

}

@media screen and (min-width:1158px) {
    
  .portfolio-work{
    margin-bottom: 72px;
  }        
}
/* footer */

.footer-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 72px;
}

.footer-logo {
    margin-bottom: 16px;
}
.logo-part{
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
}
 .container-footer{
display: flex;
flex-direction: column;
}
.footer-logo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}
.footer-social-wrapper{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 72px;
}
.footer-social-links{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}
.footer-social-item {}

.footer-items-position {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50px;
}
.social-list-footer {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .page-footer .social-link:hover,
  .page-footer .social-link:focus {
   background-color: #31d0aa;
  }

  .form-item{

  }
  .subscribe-form{
    display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .subscribe-input{
border: 1px solid #fff;
    border-radius: 4px;
    min-width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left:16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    opacity: 0.3;
  }
  .subscribe-button{
    min-width: 165px;
        padding: 8px 24px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        align-items: center;
        justify-content: center;
  }
  .subscribe-input::placeholder{
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        opacity: 0.6;
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
  background-color: #404bbf;}
  
  .icon-plane{
    fill:#fff;
    margin-left: 16px;
  }
  

  @media screen and (min-width:768px) {

  }

  @media screen and (min-width:1158px){
    .container-footer {
            display: flex;
            align-items: baseline;       }
 .page-footer {
 padding: 100px 0;
  }  
  .footer-logo-wrapper {

  margin-right: 120px;   }
 .footer-social-wrapper {

   margin-right: 80px;       } 
  .footer-logo {
  display: inline-block;
  }   
  .footer-desc {
      max-width: 264px;
  }
  .subscribe-form {
      gap: 24px;  
  }
  }

  /*------ FORM---------- */
  .backdrop {
position: fixed;
width: 100vw;
height: 100vh;
background-color: rgba(46, 47, 66, 0.4);
top: 0;
pointer-events: none;
opacity:0;
z-index:999;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
pointer-events: auto;
opacity:1;
}

.modal{
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        border-radius: 4px;
        position:absolute;
        padding:72px 24px 24px 24px;
        top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close{
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;
}
.button-close:hover,
.button-close:focus{
    background-color:#404bbf;
        border: none;
}

.icon-close {  
    fill: #2e2f42; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .icon-close,
.button-close:focus .icon-close{
fill: #fff; 
}
.person-wraper{

}
.person-icon{
fill: #4d5ae5;}


.paragraph-form{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.form-contact {
display: flex;
flex-direction: column;


}

.inputbox {
    margin-bottom:8px;
}

.form-label {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        outline: transparent;
        padding-left: 38px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
 }
 .input-icon-box{
 position: relative;   
 } 
 .input-icon{
position: absolute;
top:50%;
left: 16px;
transform:translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.form-input:focus-within{
border-color: #4d5ae5; 
}
.input-icon-box:focus-within .input-icon{
fill: #4d5ae5;
}

.textareabox {
    margin-bottom:16px;
}

.form-comment {
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            background-color: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus-within{
border-color: #4D5AE5;
}

.terms-end-condition{
margin-bottom: 24px;
}

.checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 16px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill:transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-right: 8px;
}
input[type="checkbox"]:checked + .form-label .checkbox {
    background-color:#404bbf;
    border: none;
    fill:#f4f4fd ; }

.policy {
    line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.modal .title-button {
margin: 0 auto;
}
@media screen and (min-width:768px) {}

@media screen and (min-width:1158px) {}
  /*------ END FORM---------- */